@import 'vars';

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-timing-function: $curve;
  transition-duration: 300ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.list {
  transition: all 0.3s var(--curve);
}
.list-enter-active,
.list-leave-active {
  transition: all 0.3s var(--curve);
}
.list-leave-to {
  opacity: 0;
  transform: translateY(15px);
}
.list-enter {
  opacity: 0;
  transform: translateY(15px);
}
