@import 'vars';

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-timing-function: $curve;
  transition-duration: 300ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
