.news-card {
  height: auto !important;
  border: thin solid rgba($grey, 0.2);
  background: rgba($grey, 0.05);
  backdrop-filter: blur(2px);

  max-width: 840px;

  .news-card__image {
    margin-top: 0px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    border-right: thin solid rgba($grey, 0.25);

    background-color: rgba($grey, 0.25);
    @media (min-width: $breakpoint-small) {
      width: 150px;
      height: 150px;
    }
    @media (min-width: $breakpoint-medium) {
      // width: 200px;
      // height: 200px;
    }
    @media (min-width: $breakpoint-large) {
    }
  }
  .news-card__content {
    width: calc(100% - 150px);
    margin-left: 10px;
    margin-right: 0px;
    z-index: 5;
    @media (min-width: $breakpoint-small) {
      width: calc(100% - 150px);
      margin-left: 20px;
    }
    @media (min-width: $breakpoint-medium) {
      // width: calc(100% - 290px);
    }
    .news-card__title {
      font-size: 12px;
      line-height: 15px;

      max-height: 45px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 400;
      color: $navy;
      @media (min-width: $breakpoint-small) {
        font-size: 18px;

        line-height: 20px;
        max-height: 54px;
      }
      @media (min-width: $breakpoint-medium) {
        font-size: 18px;

        line-height: 20px;
        max-height: 75px;
      }
      @media (min-width: $breakpoint-large) {
        // font-size: 18px;
      }
    }
    .news-card__tags {
      font-size: 10px;
      letter-spacing: 0.1em;
      display: none;
      @media (min-width: $breakpoint-small) {
        display: inline-block;
      }
      h5 {
        background: $green;
        border-radius: 9999px;
        padding: 5px 10px;
        font-weight: 400;
        font-size: 8px;
        width: auto;
      }
    }
    .news-card__date {
      font-size: 8px;
    }
    .news-card__description {
      display: none;
      font-size: 13px;
      line-height: 1.2em;
      @media (min-width: $breakpoint-small) {
      }
      @media (min-width: $breakpoint-medium) {
        display: inline-block;
      }
    }
  }

  .news-card__link {
    width: 40px;
    @media (min-width: $breakpoint-small) {
      width: 50px;
    }
  }
}
