#news-card {
  height: auto !important;
  border: thin solid rgba($grey, 0.2);
  box-shadow: 0px 2px 15px rgba($black, 0.2);
  border-radius: 3px;
  .news-card__image {
    margin-top: 0px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0px 0px;
  }
  .news-card__title {
    font-size: 16px;
    line-height: 1.1em;
    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
      font-size: 16px;
    }
    @media (min-width: $breakpoint-large) {
      font-size: 18px;
    }
  }
  .news-card__tags {
    font-size: 10px;
    letter-spacing: 0.1em;
    h5 {
      background: $green;
      border-radius: 9999px;
      padding: 5px 10px;
      font-weight: 400;
      font-size: 8px;
    }
  }
  .news-card__date {
    font-size: 8px;
    font-weight: 400;
  }
  .news-card__description {
    font-size: 13px;
    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
    }
  }
  a {
    .feather-arrow-right {
      background: $green;
      border-radius: 50%;
      color: $white;
      padding: 4px;
    }
  }
}
