.resource-card-vertical {
  height: 220px;
  border: thin solid rgba($grey, 0.2);
  background: $navy;
  color: $white;
  border-radius: 3px;
  width: 220px;
  .resource-card__title {
    font-size: 16px;
    line-height: 18px;

    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
      font-size: 16px;
    }
    @media (min-width: $breakpoint-large) {
      font-size: 18px;
    }
  }
  .resource-card__title.text-xs {
    font-size: 12px;
    line-height: 16px;

    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
    }
    @media (min-width: $breakpoint-large) {
      font-size: 16px;
    }
  }
  .resource-card__description {
    font-size: 13px;
    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
    }
  }
  a {
    font-size: 10px;
  }
}
