.resource-card {
  border: thin solid rgba($grey, 0.2);
  background: rgba($grey, 0.05);
  backdrop-filter: blur(2px);
  color: $navy;
  border-radius: 3px;
  max-width: 500px;
  width: 100%;
  height: 300px;
  position: relative;
  @media (min-width: $breakpoint-small) {
  }
  @media (min-width: $breakpoint-medium) {
    height: 250px;
  }
  .resource-card__program {
    left: 1rem;
    top: 1rem;
    font-size: 9px;
    line-height: 10px;
    width: calc(100% - 2rem);
    font-family: $bold-font;
    color: $green;

    @media (min-width: $breakpoint-small) {
      // top: auto;
      // bottom: 1rem;
    }
    @media (min-width: $breakpoint-medium) {
      left: 1.5rem;
    }
    span {
      color: $grey;
      display: block;
    }
  }
  .resource-card__title {
    font-size: 16px;
    line-height: 18px;

    font-family: $bold-font;
    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
      font-size: 18px;
    }
    @media (min-width: $breakpoint-large) {
      font-size: 22px;
      line-height: 22px;
    }
  }
  .resource-card__title.long {
    font-size: 12px;
    line-height: 16px;
    @apply mb-2 pb-2;
    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
    }
    @media (min-width: $breakpoint-large) {
      font-size: 14px;
    }
  }
  .resource-card__description {
    @apply flex-1 overflow-scroll;
    p {
      font-size: 13px;
      @media (min-width: $breakpoint-small) {
      }
      @media (min-width: $breakpoint-medium) {
      }
    }
  }
  .resource-card__description.addBorder {
    border-top: thin solid $navy;
  }
  a {
    font-size: 10px;
  }
}

.resource-card.blue {
  border: thin solid rgba($grey, 0.2);
  background: $navy;
  color: $white;
  .resource-card__description.addBorder {
    border-top: thin solid $white;
  }
}
