#page-header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s $curve;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: rgba($white, 1);
  width: 100%;
  overflow: hidden;
  height: 70px;
  z-index: 10;
  box-shadow: 0px 2px 10px rgba($black, 0.1);
  @media (min-width: $breakpoint-small) {
  }
  @media (min-width: $breakpoint-large) {
    height: 100px;
    box-shadow: none;
    position: relative;
    z-index: 60;
  }
  .logo-name {
    @media (min-width: $breakpoint-large) {
      display: none;
    }
  }
  .logo {
    width: 175px;
    display: none;
    transition: all 0.4s $curve 0.05s;
    @media (min-width: $breakpoint-large) {
      display: inline-block;
      opacity: 1;
      transform: translate3d(0px, 0, 0);
    }
    svg {
      height: 100px;
      width: auto;
      .cls-1,
      .cls-2 {
        transition: all 0.4s $curve 0.05s;
        @media (min-width: $breakpoint-large) {
          transform: translate3d(0px, 0, 0);
          opacity: 1;
        }
      }
      .cls-4 {
        transition: all 0.4s $curve 0.05s;
        @media (min-width: $breakpoint-large) {
          transform: translate3d(0px, 0, 0);
          fill: $navy;
          opacity: 1;
        }
      }
    }
  }
  #page-nav {
    transition: all 0.4s $curve;
  }
  .new-york-state {
    width: 135px;
    overflow: hidden;
    display: none;
    transition: all 0.4s $curve 0.11s;
    @media (min-width: $breakpoint-large) {
      display: inline-block;
      opacity: 1;
      transform: translate3d(0px, 0, 0);
    }
    svg {
      margin-top: -20px;
      margin-right: -20px;
      height: 120px;
      width: auto;
    }
  }
  #page-nav {
    width: calc(100% - 310px);
  }
}
#page-header.home {
  opacity: 0;
  @media (min-width: $breakpoint-large) {
    opacity: 1;
    background: rgba($white, 0);
  }
  .logo {
    @media (min-width: $breakpoint-large) {
      transform: translate3d(-200px, 0, 0);
      opacity: 0;
    }
    .cls-1,
    .cls-2 {
      @media (min-width: $breakpoint-large) {
        transform: translate3d(-200px, 0, 0);
        opacity: 0;
      }
    }
    .cls-4 {
      fill: $grey;
      opacity: 0.15;
    }
  }
  #page-nav {
    @media (min-width: $breakpoint-large) {
      transform: translate3d(-150px, 0, 0);
    }
  }
  .new-york-state {
    @media (min-width: $breakpoint-large) {
      transform: translate3d(160px, 0, 0);
      opacity: 0;
    }
  }
}
#page-header.hide {
  transform: translate3d(0, -80px, 0);
  @media (min-width: $breakpoint-large) {
    transform: translate3d(0, 0, 0);
  }
}
