#article {
  width: 100%;

  #article__bg-title {
    color: $grey;
    left: 0px;
    top: 0px;

    height: 450px;
    width: 300px;
    font-size: 42px;
    white-space: pre-line;
    font-weight: 300;
    z-index: -1;
    opacity: 0.25;
    letter-spacing: 0.15em;
    @media (min-width: $breakpoint-small) {
      font-size: 68px;
    }
    @media (min-width: $breakpoint-medium) {
      font-size: 212px;
      line-height: 150px;
      margin-top: -125px;
    }
  }
  .article__header {
    // box-shadow: 0px 2px 10px rgba($black, 0.25);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba($black, 0.75);
    background-blend-mode: darken;
    margin-top: 70px;
    @media (min-width: $breakpoint-large) {
      margin-top: 0px;
    }
    h1 {
      max-width: 960px;
    }
    h5 {
      max-width: 960px;
      font-size: 10px;
      span {
        color: rgba($white, 0.65);
      }
    }
  }
  .article__title {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.1em;
    margin-bottom: -4px;
    @media (min-width: $breakpoint-small) {
      font-size: 28px;
      line-height: 24px;
    }
    @media (min-width: $breakpoint-medium) {
      font-size: 36px;
      line-height: 32px;
    }
    @media (min-width: $breakpoint-large) {
      font-size: 48px;
      line-height: 44px;
      letter-spacing: 0.1em;
    }
  }
  .article__date {
    max-width: 960px;
    font-size: 10px;
    span {
      color: rgba($white, 0.65);
    }
  }
  .article__content {
    max-width: 960px;
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    ul,
    ol {
      margin-top: 10px;
      margin-bottom: 10px;
      li {
        list-style-type: disc;
        margin-left: 30px;
      }
    }
    a:link {
      color: $green;
      text-decoration: underline;
    }
  }
  .article__links {
    max-width: 960px;
    a {
      font-size: 12px;
      span {
      }
      .feather-arrow-right {
        width: 35px;
        height: 35px;
        font-size: 9px;
        background: $green;
        border-radius: 50%;
        color: $white;
        padding: 5px;
        margin-left: 4px;
        @media (min-width: $breakpoint-small) {
        }
        @media (min-width: $breakpoint-medium) {
        }
      }
    }
  }
  .article__tags {
    max-width: 960px;
    font-size: 10px;
    letter-spacing: 0.1em;
    @media (min-width: $breakpoint-small) {
    }
    h5 {
      color: $white;
      background: $green;
      border-radius: 9999px;
      padding: 5px 10px;
      font-weight: 400;
      font-size: 8px;
      width: auto;
    }
  }
  .article__share-section {
    max-width: 960px;
    h5 {
      font-size: 12px;
    }
    a {
      margin-left: 5px;
      margin-right: 5px;
      // box-shadow: 0px 2px 10px rgba($black, 0.05);
      background: rgba($grey, 0.25);
      border-radius: 50%;
      padding: 10px;
      border: thin solid rgba($grey, 0.5);
      .share-icon {
        fill: $navy;
        stroke: $navy;
      }
    }
  }
}
