#events {
  #events__intro {
    height: 200px;
    @media (min-width: $breakpoint-medium) {
      height: 250px;
    }
    h1 {
      font-size: 42px;
      line-height: 1.2em;
      position: relative;
      margin-top: 70px;
      @media (min-width: $breakpoint-small) {
        font-size: 62px;
      }
      @media (min-width: $breakpoint-medium) {
        margin-top: 0px;
      }
    }
    h1:after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      background: $navy;
      @media (min-width: $breakpoint-small) {
        width: 120%;
        left: -10%;
      }
      @media (min-width: $breakpoint-medium) {
      }
    }
    p {
      font-size: 14px;
    }
  }

  #calendar-loader {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(6px);
    img {
      width: 40px;
      height: 40px;
    }
  }
  #events__featured-container {
    max-width: 700px;
    @media (min-width: $breakpoint-large) {
      border-right: thin solid rgba($grey, 0.5);
    }
  }
  #events__featured {
    height: auto;
    max-width: 700px;
    @media (min-width: $breakpoint-medium) {
      height: 300px;
    }
    #title {
      font-size: 18px;
      letter-spacing: 0.35em;
    }
    .swiper-slide {
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .events__event {
      width: 96%;
      border: thin solid rgba($grey, 0.2);

      .events__event-image {
        width: 100px;
        height: 100px;
      }

      .events__event-description {
        border-left: thin solid rgba($grey, 0.5);
        padding: 20px;
        font-size: 12px;
        line-height: 1.2em;
        width: calc(100% - 150px);
        h3 {
        }
        h4 {
          font-size: 10px;
        }
        p {
        }
      }
      .events__event-link {
        width: 50px;
      }
    }
  }
  #events__calendar {
    max-width: 700px;
  }
}
