#home {
  @media (min-width: $breakpoint-small) {
  }
  @media (min-width: $breakpoint-medium) {
  }
  #home__intro {
    z-index: 20;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    height: calc(100vh - 55px);
    background-repeat: no-repeat;
    background-size: 300px auto;
    background-position: right -20px;
    background-image: url('/images/nys-white-grey.png');
    @media (min-width: $breakpoint-medium) {
      background-size: 500px auto;
      background-position: right -30px;
      background-image: url('/images/nys-white-grey.png');
    }
    @media (min-width: $breakpoint-large) {
      height: calc(100vh - 0px);
      min-height: 680px;
      margin-top: -100px;
      background-position: right -120px;
      background-size: 700px auto;
    }
    .home-intro__scroll-icon {
      bottom: 30px;
      left: calc(50% - 22px);
      color: $green;
      animation: moveUpDown 2s infinite;
      background: rgba($grey, 0.15);
      border-radius: 50%;
      padding: 12px;
      @media (min-width: $breakpoint-medium) {
        bottom: 20px;
      }
      @media (min-width: $breakpoint-large) {
        bottom: 30px;
      }

      .feather-chevron-down {
      }
    }
    @keyframes moveUpDown {
      0% {
        transform: translate3d(0, 0px, 0);
      }
      50% {
        transform: translate3d(0, 10px, 0);
      }
      100% {
        transform: translate3d(0, 0px, 0);
      }
    }
    .home-intro__intro {
      margin-top: 220px;
      font-size: 12px;
      transition: all 0.4s $curve;
      @media (min-width: $breakpoint-small) {
        margin-top: 320px;
      }
      @media (min-width: $breakpoint-large) {
        margin-top: 240px;
      }
    }
    .home-intro__intro.hide {
      opacity: 0;
      transform: translate3d(0, 100px, 0);
    }
    #home-intro__logo {
      position: absolute;
      top: calc(50% - 100px);
      width: 320px;
      left: calc(50% - 160px);
      text-align: center;
      transition: all 0.4s $curve;
      cursor: pointer;
      @media (min-width: $breakpoint-small) {
        width: 400px;
        left: calc(50% - 200px);
      }
      @media (min-width: $breakpoint-medium) {
      }
      @media (min-width: $breakpoint-large) {
        top: calc(50% - 160px);
        left: calc(50% - 300px);
        width: 600px;
      }
      .logo-name {
        transition: all 0.3s ease-out;
        svg {
          transition: all 0.3s ease-out;
          width: 100%;
          height: auto;
          filter: drop-shadow(0px 0px 2px (rgba($black, 0)));
          path {
          }
        }
      }
      .button {
        transition: all 0.3s $curve;
        opacity: 1;
        position: absolute;
        left: calc(50% - 21px);
        bottom: -45px;
      }
    }
    #home-intro__logo:hover {
      .logo-name {
        @media (min-width: $breakpoint-medium) {
          transform: scale(1.05);
        }
        svg {
          @media (min-width: $breakpoint-medium) {
            filter: drop-shadow(5px 15px 5px (rgba($black, 0.35)));
          }
        }
      }
      .button {
        @media (min-width: $breakpoint-medium) {
          transform: scale(1.2);
        }
      }
    }
    #home-intro__logo::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 80px;
      background: $green;
      top: calc(100% + 20px);
      left: calc(50% - 1px);
      transition: all 0.4s $curve;
      z-index: -1;
      @media (min-width: $breakpoint-small) {
        height: 140px;
      }
      @media (min-width: $breakpoint-medium) {
      }
    }

    .home-intro__navigation {
      width: 98%;
      left: 1%;
      top: calc(50% + 0px);
      flex-direction: row;
      z-index: 10;
      transition: all 0.4s $curve;
      @media (min-width: $breakpoint-small) {
        top: calc(50% + 50px);
      }
      @media (min-width: $breakpoint-medium) {
        width: 800px;
        left: calc(50% - 400px);
        top: calc(50% + 50px);
      }
      @media (min-width: $breakpoint-large) {
        top: calc(50% + 0px);
      }
      a.home-intro__navigation-btn {
        margin-bottom: 15px;
        padding: 15px 0px;
        color: $navy;
        border: thin solid $green;
        font-size: 12px;
        font-family: $bold-font;
        width: 116px;
        text-align: center;
        transition: all 0.4s $curve;
        opacity: 1;
        background: rgba($white, 1);
        cursor: pointer;
        position: relative;

        @media (min-width: $breakpoint-small) {
          font-size: 13px;
          margin-bottom: 0px;
          width: 160px;
        }
        @media (min-width: $breakpoint-large) {
          // font-size: 16px;
        }
        svg {
          display: block;
        }
      }
      a.home-intro__navigation-btn:hover {
        @media (min-width: $breakpoint-medium) {
          letter-spacing: 0.4em;
        }
      }
      a.home-intro__navigation-btn:nth-of-type(2)::before {
        z-index: -1;
        content: '';
        position: absolute;
        right: 100%;
        background: $green;
        top: calc(50% - 1px);
        height: 1px;
        width: 120px;
      }
      a.home-intro__navigation-btn:nth-of-type(2)::after {
        z-index: -1;
        content: '';
        position: absolute;
        left: 100%;
        background: $green;
        top: calc(50% - 1px);
        height: 1px;
        width: 120px;
      }
      a.home-intro__navigation-btn.current {
        background: rgba($grey, 1);
        // color: $green;
      }
    }
    .home-intro__navigation-description {
      width: 90%;
      margin-top: -20px;
      transition: all 0.3s $curve;
      max-width: 760px;
      z-index: 1;
      h5 {
        font-size: 32px;
        line-height: 30px;
        color: rgba($grey, 0.5);
        opacity: 0;
        background: rgba($white, 1);
        transition: all 0.3s $curve 0.05s;
        display: none;
        @media (min-width: $breakpoint-medium) {
          font-size: 42px;
          line-height: 40px;
        }
        @media (min-width: $breakpoint-large) {
        }
      }
      p {
        font-size: 12px;
        font-family: $bold-font;
        text-align: justify;

        background: rgba($white, 1);
        opacity: 0;
        transition: all 0.3s $curve 0.1s;
        @media (min-width: $breakpoint-medium) {
          font-size: 13px;
        }
        @media (min-width: $breakpoint-large) {
          font-size: 14px;
        }
      }
      a {
        background: rgba($white, 1);
        opacity: 0;
        transition: all 0.3s $curve 1s;
      }
    }
    .home-intro__navigation-description.show {
      h5 {
        animation: fadeUpIn 2s forwards;
      }
      p {
        opacity: 1;
      }
      a {
        animation: fadeUpIn 0.3s forwards 0.2s;
      }
      a:nth-of-type(1) {
        animation: fadeUpIn 0.3s forwards 0.2s;
      }
      a:nth-of-type(2) {
        animation: fadeUpIn 0.3s forwards 0.3s;
      }
      a:nth-of-type(3) {
        animation: fadeUpIn 0.3s forwards 0.4s;
      }
    }
    .uk-animation-fast {
      animation-duration: 0.3s;
      animation-timing-function: $curve;
    }
    @keyframes fadeUpIn {
      from {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
      }
      to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
      }
    }
  }
  #home__intro.show {
    #home-intro__logo {
      transform: translate3d(0, -120px, 0);
      cursor: pointer;
      @media (min-width: $breakpoint-small) {
        transform: translate3d(0, -100px, 0);
      }
      @media (min-width: $breakpoint-medium) {
      }
      @media (min-width: $breakpoint-large) {
        font-size: 16px;
        transform: translate3d(0, -60px, 0);
      }
      .button {
        bottom: -430px;
        z-index: -1;
        opacity: 0;
      }
    }
    #home-intro__logo::after {
      height: 345px;
      @media (min-width: $breakpoint-small) {
        height: 370px;
      }
      @media (min-width: $breakpoint-medium) {
        height: 370px;
      }
      @media (min-width: $breakpoint-large) {
      }
    }
    #home-intro__navigation {
      transform: translate3d(0, 160px, 0);
      a.home-intro__navigation-btn {
        padding: 10px 0px;
        @media (min-width: $breakpoint-medium) {
          padding: 15px 20px;
        }
        @media (min-width: $breakpoint-large) {
        }
      }
    }
  }
  #home__mission {
    background-image: url('/images/organization/field-rainbow.jpg');
    height: 600px;
    overflow: hidden;
    border: none;
    background-color: rgba($black, 0.25);
    background-blend-mode: darken;
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px -2px 50px rgba($black, 1);
    @media (min-width: $breakpoint-small) {
      background-position: center bottom;
    }
    @media (min-width: $breakpoint-large) {
    }
    #mission {
      margin-left: 120px;
      @media (min-width: $breakpoint-large) {
        margin-left: 110px;
      }
      @media (min-width: $breakpoint-xlarge) {
        margin-left: 0px;
      }
      h2 {
        font-size: 32px;
        line-height: 30px;

        @media (min-width: $breakpoint-small) {
        }
        @media (min-width: $breakpoint-medium) {
        }
        @media (min-width: $breakpoint-large) {
          width: 478px;
          font-size: 42px;
          line-height: 40px;
        }
      }
      p {
        margin-top: 2px;
        line-height: 18px;
        font-size: 16px;
        @media (min-width: $breakpoint-medium) {
          width: 600px;
        }
        @media (min-width: $breakpoint-large) {
          width: 470px;
        }
      }
    }
    a {
      width: auto;
      position: absolute;
      bottom: 25px;
      left: calc(50% - 175px);
      width: 350px;
      text-align: center;
      @media (min-width: $breakpoint-small) {
        width: 500px;
        left: calc(50% - 250px);
        bottom: 30px;
      }
      @media (min-width: $breakpoint-large) {
        bottom: 50px;
      }
      @media (min-width: $breakpoint-xlarge) {
        bottom: 70px;
      }
    }
    #cropped-overlay {
      right: 0px;
      top: 0px;
      width: 170%;
      height: 700px;
      overflow: hidden;
      border: none;
      // -webkit-clip-path: polygon(0 0, 0 0px, 800px 600px, 600px 0);
      // clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%);
      background-image: url('https://admin.steny.org/southern-tier-8/assets/ojt65p84t5w048cc?key=medium');
      background-position: left center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: drop-shadow(0px 2px 55px rgba($black, 1));
      @media (min-width: 460px) {
        width: 140%;
      }
      @media (min-width: 560px) {
        width: 120%;
      }
      @media (min-width: $breakpoint-small) {
        width: 100%;
      }
      @media (min-width: $breakpoint-medium) {
        width: 80%;
        background-image: url('https://admin.steny.org/southern-tier-8/assets/ojt65p84t5w048cc?key=large');
      }
      @media (min-width: $breakpoint-large) {
        right: 0px;
        background-position: left center;
        background-repeat: no-repeat;
        width: 60%;
      }
      @media (min-width: $breakpoint-xlarge) {
        right: -100px;
        background-position: left center;
        background-repeat: no-repeat;
        width: 60%;
      }
    }
  }
  #home__news {
    .swiper-slide {
      width: 300px;
    }
  }
  #home__funding {
    background: $navy;
    box-shadow: inset 0px -2px 30px rgba($black, 0.9);
    a {
      border: thin solid $green;
      color: $green;
      letter-spacing: 0.1em;
    }
  }
  #home__partners {
    h3 {
      font-size: 14px;
      letter-spacing: 0.1em;
      @media (min-width: $breakpoint-medium) {
        margin-right: 180px;
      }
      @media (min-width: $breakpoint-large) {
      }
      .number {
        font-size: 120px;
        line-height: 100px;
        @media (min-width: $breakpoint-small) {
          font-size: 120px;
          line-height: 100px;
        }
        @media (min-width: $breakpoint-medium) {
          font-size: 156px;
          line-height: 140px;
          width: 180px;
          text-align: right;
        }
        @media (min-width: $breakpoint-large) {
          font-size: 188px;
          line-height: 170px;
        }
        span {
          display: none;
        }
      }
    }
  }
  #home__programs {
    background: $navy;
    box-shadow: inset 0px -2px 30px rgba($black, 0.9);
  }
  #home__data {
    #industry-chart {
      svg {
        width: 100%;
        height: auto;
        @media (min-width: $breakpoint-small) {
        }
        @media (min-width: $breakpoint-medium) {
        }
        @media (min-width: $breakpoint-large) {
        }
      }
    }
  }
  .home__section {
    padding-top: 40px;
    padding-bottom: 40px;
    @media (min-width: $breakpoint-small) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (min-width: $breakpoint-medium) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @media (min-width: $breakpoint-large) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .home__title {
      font-size: 46px;
      line-height: 40px;
      letter-spacing: 0.1em;
      @media (min-width: $breakpoint-small) {
        font-size: 72px;
        line-height: 58px;
      }
      @media (min-width: $breakpoint-medium) {
        font-size: 96px;
        line-height: 80px;
      }
      @media (min-width: $breakpoint-large) {
        font-size: 128px;
        line-height: 110px;
      }
      @media (min-width: $breakpoint-xlarge) {
        font-size: 156px;
        line-height: 140px;
      }

      .small-title {
        margin-left: 4px;
        margin-bottom: 0px;
        font-size: 12px;
        line-height: 10px;
        @media (min-width: $breakpoint-small) {
          margin-left: 8px;
          margin-bottom: -5px;
        }
        @media (min-width: $breakpoint-medium) {
        }
        @media (min-width: $breakpoint-large) {
          margin-left: 13px;
          margin-bottom: -14px;
          font-size: 14px;
          line-height: 12px;
        }
      }
      .date {
        font-size: 16px;
        line-height: 14px;
        top: calc(50% - 0px);
        display: none;
      }
    }
    .home__subtitle {
      p {
        letter-spacing: 0.1em;
        font-size: 14px;
        max-width: 1024px;
        line-height: 1.4em;
        @media (min-width: $breakpoint-small) {
        }
        @media (min-width: $breakpoint-medium) {
        }
        @media (min-width: $breakpoint-large) {
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 32px;
    height: 32px;
    color: $black;

    border-radius: 50%;
    transition: all 0.3s $curve;
    outline: none;
    top: calc(100% - 8px);
    @media (min-width: $breakpoint-small) {
      width: 35px;
      height: 35px;
    }
    @media (min-width: $breakpoint-medium) {
      width: 40px;
      height: 40px;
    }
    @media (min-width: $breakpoint-large) {
      top: 50%;
      // background: rgba(245, 245, 245, 1);
      background: $white;
    }
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 6px;
    right: auto;
    @media (min-width: $breakpoint-medium) {
      left: 6px;
    }
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    left: auto;
    right: 6px;
    @media (min-width: $breakpoint-medium) {
      right: 6px;
    }
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 12px !important;
  }
  .swiper-button-disabled {
    opacity: 0;
  }
}
