#initiatives {
  #initiatives__intro {
    min-height: calc(100vh - 70px);
    margin-top: 90px;
    padding-bottom: 90px;
    @media (min-width: $breakpoint-small) {
      margin-top: 40;
    }
    @media (min-width: $breakpoint-large) {
      min-height: 500px;
      height: calc(100vh - 100px);
      margin-top: 0;
      padding-bottom: 0px;
    }
  }
  #initiatives__page-title {
    font-size: 38px;
    text-align: center;
    background: $white;

    @media (min-width: $breakpoint-small) {
      font-size: 68px;
    }
    @media (min-width: $breakpoint-medium) {
      font-size: 82px;
      margin-bottom: 30px;
    }
    @media (min-width: $breakpoint-large) {
      font-size: 100px;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-top: -50px;
      margin-bottom: -100px;
    }
    span {
      height: 10px;
      font-size: 9px;
      display: block;
      margin-top: -10px;
      margin-bottom: 10px;
      @media (min-width: $breakpoint-small) {
        font-size: 12px;
        margin-top: -15px;
      }
      svg {
        margin-left: -10px;
        margin-top: -2px;
        @media (min-width: $breakpoint-large) {
        }
      }
    }
  }
  .initiatives__intro-card {
    overflow: hidden;
    background: $white;
    cursor: pointer;
    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
      width: 150px;
      border: thin solid rgba($grey, 1);
    }
    @media (min-width: 850px) {
      margin-left: 10px;
      margin-right: 10px;
    }
    @media (min-width: $breakpoint-large) {
      width: 180px;
    }
    .initiatives__intro-card-sort {
      font-size: 96px;
      line-height: 70px;

      @media (min-width: $breakpoint-medium) {
        font-size: 122px;
        line-height: 100px;
        transition: all 0.25s $curve;
        transform: translate3d(0, 0%, 0);
      }
    }
    .initiatives__intro-card-title {
      width: 140px;
      line-height: 15px;
      font-size: 14px;
      @media (min-width: $breakpoint-medium) {
        line-height: 13px;
        font-size: 12px;
        transition: all 0.25s $curve;
        transform: translate3d(0, 0%, 0);
        opacity: 1;
      }
    }
    .initiatives__intro-card-back {
      @media (min-width: $breakpoint-medium) {
        top: 0%;
        left: 0px;
        background: rgba($grey, 1);
        transition: all 0.25s $curve;
        transform: translate3d(0, 100%, 0);
        height: 100%;
        line-height: 1.1em;
        p {
        }
      }
      .initiatives__intro-card-link {
        .link-icon {
          width: 25px;
          height: 25px;
          svg {
            margin-top: -2px;
          }
        }
      }
    }
  }
  .initiatives__intro-card.show {
    .initiatives__intro-card-sort {
      @media (min-width: $breakpoint-medium) {
        transform: translate3d(0, -60px, 0);
        opacity: 0;
      }
    }
    .initiatives__intro-card-title {
      @media (min-width: $breakpoint-medium) {
        transform: translate3d(0, -80px, 0);
        opacity: 0;
      }
    }
    .initiatives__intro-card-back {
      @media (min-width: $breakpoint-medium) {
        transform: translate3d(0, 0%, 0);
      }
    }
  }
  .initiatives__story {
    // height: 900px;
    @media (min-width: $breakpoint-large) {
      height: 2000px;
    }
    .initiatives__title {
      z-index: 5;
      background: $white;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0.1em;
      font-weight: 400;
      margin-top: 40px;
      margin-bottom: 40px;
      @media (min-width: $breakpoint-small) {
        font-size: 22px;
        line-height: 24px;
        margin-top: 60px;
        margin-bottom: 60px;
      }
      @media (min-width: $breakpoint-medium) {
        font-size: 26px;
        line-height: 28px;
        margin-top: 80px;
        margin-bottom: 80px;
      }
      @media (min-width: $breakpoint-large) {
        font-size: 42px;
        line-height: 40px;
        letter-spacing: 0.2em;
        margin-top: 100px;
        margin-bottom: 100px;
      }
    }

    .initiatives__description {
      z-index: 5;
      background: $white;
      max-width: 550px;
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 14px;

      @media (min-width: $breakpoint-small) {
        margin-top: 60px;
        margin-bottom: 60px;
      }
      @media (min-width: $breakpoint-medium) {
        margin-top: 80px;
        margin-bottom: 80px;
        font-size: 15px;
      }
      @media (min-width: $breakpoint-large) {
        margin-top: 100px;
        margin-bottom: 100px;
      }
    }
    #start-btn {
      position: absolute;
      top: -70px;
      left: calc(50% - 20px);
      filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
      @media (min-width: $breakpoint-small) {
      }
      @media (min-width: $breakpoint-medium) {
      }
      @media (min-width: $breakpoint-large) {
        top: -70px;
        // left: calc(50% + 435px);
      }
      @media (min-width: $breakpoint-xlarge) {
      }
    }
    #finish-btn {
      position: absolute;
      bottom: -5px;
      left: calc(50% - 20px);
      filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
      @media (min-width: $breakpoint-small) {
      }
      @media (min-width: $breakpoint-medium) {
      }
      @media (min-width: $breakpoint-large) {
        bottom: 42px;
        left: calc(50% - 21px);
      }
      @media (min-width: $breakpoint-xlarge) {
      }
    }
    #straightLineSVG {
      position: absolute;
      z-index: -1;
      top: -50px;
      left: calc(50% - 1px);
      height: calc(100% + 50px);
      width: 3px;
      @media (min-width: $breakpoint-large) {
        display: none;
      }
    }
    #lineSVG {
      display: none;
      position: absolute;
      z-index: -1;
      top: -50px;
      left: calc(50% - 185px);
      height: 100%;
      width: 370px;
      @media (min-width: $breakpoint-small) {
      }
      @media (min-width: $breakpoint-medium) {
      }
      @media (min-width: $breakpoint-large) {
        top: -50px;
        left: calc(50% - 456px);
        height: 100%;
        width: 912px;
        display: block;
      }
      @media (min-width: $breakpoint-xlarge) {
      }
    }

    #what-title {
      padding: 20px;
      @media (min-width: $breakpoint-large) {
        margin-right: 65%;
        margin-top: 175px;
        width: 360px;
        padding: 20px;
      }
      @media (min-width: $breakpoint-xlarge) {
        margin-right: 900px;
        width: 360px;
        padding: 20px;
      }
    }
    #what-description {
      padding: 20px;
      @media (min-width: $breakpoint-large) {
        width: 480px;
        margin-left: 250px;
        padding: 20px;
        margin-top: -77px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-height: 140px;
      }
    }
    #where-title {
      padding: 20px;
      @media (min-width: $breakpoint-large) {
        margin-right: -80px;
        margin-top: 150px;
        width: 360px;
        padding: 20px;
      }
    }
    #where-description {
      padding: 20px;
      @media (min-width: $breakpoint-large) {
        width: 520px;
        margin-right: 50%;
        padding: 20px;
        margin-top: -25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-height: 200px;
      }
      @media (min-width: $breakpoint-xlarge) {
        width: 480px;
        margin-right: 780px;
        padding: 20px 0;
      }
      a {
        bottom: -25px;
        right: 0px;
        z-index: 5;
        background: $white;
        font-size: 12px;
        // transform: scale(0.7);
        // @media (min-width: $breakpoint-large) {
        //   width: 520px;
        // }
        // @media (min-width: $breakpoint-xlarge) {
        //   width: 480px;
        // }
      }
    }
    #how-title {
      padding: 20px;
      @media (min-width: $breakpoint-large) {
        margin-left: calc(100% - 410px);
        margin-top: -30px;
        width: 400px;
        padding: 20px;
      }
      @media (min-width: 1410px) {
        margin-left: 1000px;
      }
    }
    #how-description {
      padding: 20px;
      @media (min-width: $breakpoint-large) {
        width: 600px;
        margin-right: 0;
        padding: 20px;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-height: 200px;
      }
      @media (min-width: $breakpoint-xlarge) {
        padding: 20px 0;
      }
    }
  }

  #initiatives__conclusion {
    h3 {
      font-size: 12px;

      @media (min-width: $breakpoint-small) {
        font-size: 22px;
      }
    }
    a {
      font-size: 14px;
      line-height: 16px;
      height: 16px;
      color: $navy;
      @media (min-width: $breakpoint-small) {
      }
      @media (min-width: $breakpoint-medium) {
      }
      .link-icon {
        width: 25px;
        height: 25px;
        svg {
          margin-top: -2px;
        }
      }
    }
  }
}
