#news {
  height: auto !important;
  overflow: hidden;
  width: 100%;
  #news__intro {
    height: 300px;

    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
    }
    h1 {
      font-size: 42px;
      line-height: 1.2em;
      position: relative;
      margin-top: 70px;
      @media (min-width: $breakpoint-small) {
        font-size: 62px;
      }
      @media (min-width: $breakpoint-medium) {
        margin-top: 0px;
      }
    }
    h1:after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      background: $navy;
      @media (min-width: $breakpoint-small) {
        width: 120%;
      }
      @media (min-width: $breakpoint-medium) {
      }
    }
    .background {
      right: 0px;
      margin-top: 70px;
      @media (min-width: $breakpoint-medium) {
        margin-top: 0px;
      }
      h3 {
        color: $grey;
        opacity: 0.2;
        font-size: 32px;
        line-height: 0.8em;
        font-weight: 400;
        @media (min-width: $breakpoint-small) {
          font-size: 48px;
        }
        @media (min-width: $breakpoint-medium) {
          font-size: 56px;
        }
        @media (min-width: $breakpoint-large) {
          font-size: 62px;
        }
        @media (min-width: $breakpoint-xlarge) {
          font-size: 72px;
        }
      }
    }
  }
  #news__news-cards {
    .news__filters {
      input {
        max-width: 400px;
      }
    }
  }
}
