#news {
  height: auto !important;
  overflow: hidden;
  width: 100%;
  #news__intro {
    margin-top: 70px;
    height: 200px;
    @media (min-width: $breakpoint-medium) {
      height: 250px;
      margin-top: 0px;
    }

    h1 {
      font-size: 42px;
      line-height: 1.2em;
      position: relative;
      margin-top: 70px;
      @media (min-width: $breakpoint-small) {
        font-size: 62px;
      }
      @media (min-width: $breakpoint-medium) {
        margin-top: 0px;
      }
    }
    h1:after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      background: $navy;
      @media (min-width: $breakpoint-small) {
        width: 120%;
        left: -10%;
      }
      @media (min-width: $breakpoint-medium) {
      }
    }
    p {
      font-size: 14px;
    }
    .background {
      right: 0px;
      margin-top: 70px;
      @media (min-width: $breakpoint-medium) {
        margin-top: 0px;
      }
      h3 {
        color: $grey;
        opacity: 0.2;
        font-size: 32px;
        line-height: 0.8em;
        font-weight: 400;
        @media (min-width: $breakpoint-small) {
          font-size: 48px;
        }
        @media (min-width: $breakpoint-medium) {
          font-size: 56px;
        }
        @media (min-width: $breakpoint-large) {
          font-size: 62px;
        }
        @media (min-width: $breakpoint-xlarge) {
          font-size: 72px;
        }
      }
    }
  }
  #news__news-cards {
    .news__filters {
      input {
        max-width: 400px;
      }
    }
    #start-btn {
      position: absolute;
      top: -70px;
      left: calc(50% - 20px);
      filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
      @media (min-width: $breakpoint-small) {
      }
      @media (min-width: $breakpoint-medium) {
      }
      @media (min-width: $breakpoint-large) {
        top: -70px;
        // left: calc(50% + 435px);
      }
      @media (min-width: $breakpoint-xlarge) {
      }
    }
    #finish-btn {
      position: absolute;
      bottom: -25px;
      left: calc(50% - 20px);
      filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
      @media (min-width: $breakpoint-small) {
      }
      @media (min-width: $breakpoint-medium) {
      }
      @media (min-width: $breakpoint-large) {
        // bottom: 42px;
        left: calc(50% - 21px);
      }
      @media (min-width: $breakpoint-xlarge) {
      }
    }
    #straightLineSVG {
      position: absolute;
      z-index: -1;
      top: -50px;
      left: calc(50% - 1px);
      height: calc(100% + 50px);
      width: 3px;
      @media (min-width: $breakpoint-large) {
      }
    }
  }
}
