#organization {
  #mission-section {
    height: 600px;
    overflow: hidden;
    .statement {
      width: 90%;
      max-width: 740px;
      h2 {
        font-size: 46px;
        line-height: 40px;
        letter-spacing: 0.1em;
        @media (min-width: $breakpoint-small) {
          font-size: 72px;
          line-height: 58px;
        }
        @media (min-width: $breakpoint-medium) {
          font-size: 100px;
          line-height: 80px;
        }
        @media (min-width: $breakpoint-large) {
          font-size: 128px;
          line-height: 110px;
        }
        @media (min-width: $breakpoint-xlarge) {
          font-size: 156px;
          line-height: 140px;
        }

        p {
          margin-top: 2px;
          line-height: 18px;
          font-size: 16px;
          font-weight: 100;
          @media (min-width: $breakpoint-medium) {
            width: 500px;
          }
        }
      }
    }
    #mission-section__counties {
      h1 {
        font-size: 62px;
        line-height: 0.8em;
        @media (min-width: $breakpoint-small) {
        }
        @media (min-width: $breakpoint-medium) {
          font-size: 72px;
        }
        @media (min-width: $breakpoint-large) {
          font-size: 82px;
        }
      }
    }
  }
  #organization-info {
    box-shadow: 0px 2px 20px rgba($black, 0.25);
    #organization-info__container {
      max-width: 960px;
      .page-title:after {
        content: '';
        width: calc(100% + 60px);
        height: 1px;
        background: $green;
        position: absolute;
        bottom: -1px;
        left: 0px;
      }
      a {
        border: thin solid $green;
        border-radius: 3px;
      }
    }
  }
  #staff-section {
    // box-shadow: inset 0px -2px 150px rgba($black, 0.5);
    //
    // background: $navy;
    .people-card {
      max-width: 800px;
      margin: 30px 0px;
      padding: 0 10px;
      .people-card__image {
        width: 100px;
        height: 130px;
        overflow: hidden;
        box-shadow: 0px 2px 15px rgba($black, 0.1);
        filter: grayscale(1);
        @media (min-width: $breakpoint-small) {
          width: 200px;
          height: 130px;
        }
        @media (min-width: $breakpoint-medium) {
          width: 200px;
          height: 130px;
        }
      }
      .people-card__info {
        width: calc(100% - 120px);
        @media (min-width: $breakpoint-small) {
          width: calc(100% - 220px);
        }
        @media (min-width: $breakpoint-medium) {
        }
        .people-card__name {
          padding-bottom: 15px;
          margin-bottom: 15px;
          font-size: 14px;
          border-bottom: thin solid rgba($navy, 1);
          h3 {
            color: $navy;
          }

          .people-card__links {
            display: none;

            @media (min-width: $breakpoint-small) {
              display: flex;
            }
            @media (min-width: $breakpoint-medium) {
            }
            a {
              color: $navy;
              font-size: 8px;
              letter-spacing: 0.3em;
            }
          }
        }
        h5.people-card__title {
          color: $green;
          font-size: 9px;
          letter-spacing: 0.2em;
          @media (min-width: $breakpoint-small) {
            font-size: 10px;
            letter-spacing: 0.2em;
          }
          @media (min-width: $breakpoint-medium) {
          }
        }
      }
    }
  }
  #board-section {
    box-shadow: 0px -2px 20px rgba($black, 0.5);

    background: $navy;
    .board-card {
      margin: 15px 5%;
      width: 90%;
      @media (min-width: $breakpoint-small) {
        width: 40%;
        margin: 20px 5%;
      }
      @media (min-width: $breakpoint-medium) {
        width: 21%;
        margin: 20px 2%;
      }
      h3 {
        color: $green;
        font-size: 12px;
        letter-spacing: 0.3em;
        font-weight: 400;
        border-bottom: thin solid $white;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      h5 {
        color: $white;
        font-size: 12px;
        letter-spacing: 0.3em;
      }
    }
  }
  #roi-section {
    box-shadow: inset 0px -2px 20px rgba($black, 0.25);
    p {
      max-width: 860px;
    }
    .roi-card {
      border: thin solid rgba($grey, 1);
      width: 150px;
      h3 {
      }
      h5 {
        font-size: 88px;
        opacity: 0.05;
        width: 136px;
        left: calc(50% - 68px);
        line-height: 60px;
        top: calc(50% - 35px);
      }
    }
  }
}
