#partnerships {
  @media (min-width: $breakpoint-small) {
  }
  @media (min-width: $breakpoint-medium) {
  }
  #partnerships__intro {
    min-height: 500px;

    @media (min-width: $breakpoint-medium) {
    }
    @media (min-width: $breakpoint-large) {
    }
    h3 {
      font-size: 48px;
      line-height: 1em;
      @media (min-width: $breakpoint-medium) {
        font-size: 88px;
      }
      @media (min-width: $breakpoint-large) {
        font-size: 122px;
      }
    }
    p {
      font-size: 9px;
      @media (min-width: $breakpoint-small) {
      }
      @media (min-width: $breakpoint-medium) {
        font-size: 10px;
      }
      @media (min-width: $breakpoint-large) {
        font-size: 12px;
      }
    }
    h5 {
      bottom: 50px;
      font-size: 12px;
      width: 100%;
      left: 0px;
      text-align: center;
      @media (min-width: $breakpoint-medium) {
        font-size: 13px;
        bottom: 80px;
      }
      @media (min-width: $breakpoint-large) {
        font-size: 14px;
      }
    }
  }
  #partnerships__everything {
    box-shadow: 0px 2px 20px rgba($black, 0.25);
    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
    }
    @media (min-width: $breakpoint-large) {
    }
    p {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      max-width: 1050px;
      @media (min-width: $breakpoint-medium) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media (min-width: $breakpoint-large) {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
  #partnerships__initiatives {
    #home-graphic {
      width: 90%;
      max-width: 800px;
      svg {
        width: 90%;
        height: auto;
      }
    }
  }
  .partnerships__section {
    padding-top: 40px;
    padding-bottom: 40px;
    @media (min-width: $breakpoint-small) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (min-width: $breakpoint-medium) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @media (min-width: $breakpoint-large) {
      // padding-top: 100px;
      // padding-bottom: 100px;
    }
    .partnerships__title {
      font-size: 22px;
      line-height: 20px;
      letter-spacing: 0.1em;
      @media (min-width: $breakpoint-small) {
        font-size: 28px;
        line-height: 26px;
      }
      @media (min-width: $breakpoint-medium) {
        font-size: 42px;
        line-height: 40px;
      }
      @media (min-width: $breakpoint-large) {
        font-size: 56px;
        line-height: 50px;
      }
      @media (min-width: $breakpoint-xlarge) {
      }
    }
  }
  .partnerships__partner-category {
    .number {
      font-size: 120px;
      line-height: 100px;
      @media (min-width: $breakpoint-small) {
        font-size: 120px;
        line-height: 100px;
      }
      @media (min-width: $breakpoint-medium) {
        font-size: 156px;
        line-height: 140px;
      }
      @media (min-width: $breakpoint-large) {
        font-size: 188px;
        line-height: 160px;
      }
    }
    .title {
      font-size: 12px;
    }
  }
  .partnerships__partner {
    width: 75px;
    @media (min-width: $breakpoint-large) {
    }
    a {
      width: 75px;
      height: 75px;
      display: inline-block;
      background-size: 80% auto;
      background-position: center;
      border: thin solid rgba($grey, 0.5);
      @media (min-width: $breakpoint-small) {
      }
      @media (min-width: $breakpoint-medium) {
      }
      @media (min-width: $breakpoint-large) {
      }
    }
  }
  .swiper-slide {
    width: 75px;
  }
}
