#regional {
  #regional__page-title {
    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
    }
  }
  #regional-intro {
    height: 600px;
    background-image: url('https://admin.steny.org/southern-tier-8/assets/7lck4gu6lq804wcc?key=large');
    background-size: 350px auto;
    background-repeat: no-repeat;
    background-position: center top;
    @media (min-width: $breakpoint-small) {
      background-size: 600px auto;
    }
    @media (min-width: $breakpoint-medium) {
      background-size: 800px auto;
    }
    .logo-name {
      margin-top: 400px;
      width: 90% !important;
      max-width: 800px;
      svg {
        width: 100%;
        height: auto;
        display: inline-block;
      }
    }
  }
  #regional-counties {
    #regional-counties-image {
      width: 100%;
      max-width: 1400px;
      height: 800px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('https://admin.steny.org/southern-tier-8/assets/makw0alar0gwgckk?key=large');
    }
  }
  #regional-map {
    #regional-map-image {
      width: 100%;
      max-width: 1000px;
      height: 600px;
      background-image: url('https://admin.steny.org/southern-tier-8/assets/22hxb68lcchwgssw?key=large');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  #regional-industry {
    #industry-chart {
      svg {
        height: 600px;
        width: auto;
      }
    }
  }
}
